/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CODE COULEUR Violet #9356DC Rose #FF79DA Vert #99E2D0*/

/*POLICES*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&family=Shrikhand&display=swap');

body {
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	width: 100%;
}	

/*LOADING SPINNER*/

.loading {
	position: fixed;
	width: 100%;
	height: 100%;
	animation-duration: 3s;
	-webkit-animation-duration: 3s;
	animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-name: loading;
    -webkit-animation-name: loading;
	transform: translateY(-550px);
	z-index: 1;
	background:#ffffff;
	opacity: 0;
}

@keyframes loading { 
	0%{ opacity:1; transform: translateY(0px);} 
	90%{ opacity: 1;transform: translateY(0px);} 
    99%{ transform: translateY(0px);}
	100%{ opacity:0; transform: translateY(0px);}
}

.loader {
	border-top: 3em solid #FF79DA;
	border-right: 3em solid #9356DC ;
	border-bottom: 3em solid #99E2D0;
	border-left: 3em solid #9356DC;
	animation: spin 3s linear infinite;
	-webkit-animation: spin 3s linear infinite;
	border-radius: 50%;
	width: 13em;
	height: 13em;
	position: absolute;
	top: 27%;
	left: 9%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); transition-duration: 1s; opacity:0;}
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

/*https://i.pinimg.com/474x/8d/d1/3c/8dd13c382ce5a4b6044571a0d50bc9bc.jpg*/
/*HEADER*/

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ffffff;
}

/*LOGO*/
h1 {
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 100%;
	display: flex;
	justify-content: center;
}

/*TITRES*/
h1, footer h3 {
    color: black;
    font-family: 'Shrikhand', cursive;
}

/*CHAMP DE RECHERCHE*/
.formulaire {
	width: 100%;
	background-color: #eaeaea;
	border: 15px solid #eaeaea;
	display: flex;
	justify-content: center;
	padding-left: 60px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

form {
	background-color: #eaeaea;
}

.formulaire input {
	border: none;
	background-color: #eaeaea;
	color: black;
	font-size: 15px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	padding-left: 15px;
}

/*RESERVEZ ET EXPLOREZ*/
.Réservez {
	background-color: #f6f6f6;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 60px;
	width: 100%;
}
/*DIFFERENTS TITRES ET TEXTES*/
h2,h3,h4 {
    font-family: 'Roboto', sans-serif;
}

h2 {
	font-size: 24px;
	font-weight: bold;
}

h3 {
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 5px;
}

header hgroup {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

header h2 {
	width: 70%;
	padding-top: 40px;
	padding-bottom: 15px;
}

header h3 {
	width: 90%;
	padding-bottom: 30px;
	color: grey;
	font-weight: initial;
}

/*BOUTON EXPLOREZ ET BOUTON COMMANDEZ DANS MENUS*/
.boutonExplorez, .boutonCommandez {
	border-radius: 30px;
	padding: 15px;
	background: linear-gradient(-10deg, #9356DC, #FF79DA);
	opacity: 0.9;
	font-size: 15px;
	cursor: pointer;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.boutonExplorez:hover, .boutonCommandez:hover {
	opacity: 0.7;
	transition: ease 1s;
	box-shadow: 10px 10px #99E2D0;
}

/*TOUS LES LIENS NON SOULIGNES*/
a {
	text-decoration: none;
}

/*TEXTE EXPLOREZ EN BLANC*/
header a {
	color: #ffffff;
}

/*MAIN*/

/*SECTION FONCTIONNEMENT*/
/*TITRE DE LA SECTION FONCTIONNEMENT*/
main h2 {
	padding: 60px 20px 10px 20px;
}

/*VISIBILITE DES PUCES 1 2 3*/
.fonctionnement {
	padding-left: 10px;
	padding-bottom: 40px;
	position: relative;
}

.fonctionnement li, .quatreMenus li {
	border-radius: 20px;
	background-color:  #f6f6f6;
	opacity: 0.9;
	font-size: 15px;
	font-weight: bold;
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
	margin: 20px;	
	list-style-type: none;
}

.fonctionnement span {
	font-size: 20px;
	color: #9356DC;
	font-weight: lighter;
	position: absolute;
	left: 16px;
	background-color: #f6f6f6;
}

.fonctionnement li {
	padding: 20px 20px 20px 35px;
}

/*ICONES FONCTIONNEMENT*/
.fonctionnement i {
	padding-right: 20px;
	font-size: 20px;
}

/*COULEURS TROISIEME LI DE FONCTIONNEMENT*/
.fonctionnement li:nth-child(3) {
	background-color: #f2eafb;
	cursor: pointer;
}

.fonctionnement li:nth-child(3) .fa-store {
	color: #9356DC;
}



/*SECTION RESTAURANTS*/

#restaurants {
	background-color:#f6f6f6;
	padding-bottom: 50px;
}

/*4 CARTES DES RESTOS*/
.cartesDesRestos {
	margin: 20px auto;
	height: auto;
	width: 90%;
	max-width: 1000px;
	min-width: 300px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	box-sizing: border-box;
	position: relative;
}

/*RECTANGLE NOUVEAU*/
.nouveau {
	background-color: #99E2D0;
	color: #008766;
	padding: 8px 12px;
	font-size: 13px;
	font-weight: bold;
	position: absolute;
	top: 15px;
	right: 15px;
}

.cartesDesRestos img {
	height: 170px;
	width: 100%;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
	object-position: bottom;
}

/*POSITION IMAGE NOTE ENCHANTEE*/
img.noteEnchantee {
	object-position: center;
}

/*LEGENDES DES CARTES*/
.cartesDesRestos hgroup {
	padding: 15px;
	color: black;
}

/*LEGENDE ET COEUR*/
figcaption {
	display: flex;
	justify-content: space-between;
}

/*ICONES COEUR ACCUEIL ET MENU*/
figcaption i, .quatreMenus .fa-heart {
	font-size: 25px;
	color: #353535;
	cursor: pointer;
	position: relative;
	z-index: 1;
}
/*
.fa-heart::before {
	content: "";
	color: red;
	position: absolute;
	z-index: -1;
  }
*/
.fa-heart:active {
	color: #9356DC;
}

/*ICONE COEUR ACCUEIL*/
figcaption i {
	line-height: 2;
	padding-right: 20px;
	padding-top: 15px;
}
/*RECHERCHES REMPLISSAGE COEURS	
.contenant {
    width: 100px;
    height: 200px;
    display: block;
    background-color: #303030;
    position: relative;
}

/* Remplissage de bas en haut 
.contenu {
    transition: all 0.3s linear 0s;
    background-color: #33BEE5;
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
}
 
.contenant:hover .contenu {
    height: 100%;
}
*/
.fa-solid.fa-heart {
	-webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 1px;
	transition: 3s;
	-webkit-transition: 3s;
}

.fa-solid.fa-heart:hover, .fa-solid.fa-heart:hover:active{
	-webkit-text-fill-color: #9356DC;
    -webkit-text-stroke-width: 0;

}



/* MODIF  29/03
.fa-solid.fa-heart {
	-webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 2px;
	transition: 3s;
	-webkit-transition: 3s;
	transition: width 5s;
    transition-timing-function: linear;
}


}
.fa-solid.fa-heart:hover {
	-webkit-text-fill-color: #9356DC;
    -webkit-text-stroke-width: 0;

}

.fa-solid.fa-heart {
    text-shadow: 0 0 3px #000;
    color: #fff;
}

.fa-heart:before {
    content: "\f004";
}
*/


/*.fa-heart {
    background:-webkit-linear-gradient(top,#FF79DA 30%,#9356DC 70%);
    background-clip:content;
    -webkit-background-clip:content;
    color:transparent;
}*/

.fa-heart {
	/*
	background-image:linear-gradient(#99E2D0, #FF79DA, #9356DC);*/
	/*background-image:linear-gradient(to top, transparent);*/
	/*background:-webkit-linear-gradient(top,#FF79DA 30%,#9356DC 70%);*/
    background-clip:text;
    -webkit-background-clip:text;
	border-radius: 70%;
	/*opacity: 2;*/
	/*transition-property: height;
	transition-property: width;*/
	transition: width 5s;
  	transition-timing-function: linear;
}

.fa-heart:active {
	background-image:linear-gradient(to top, #FF79DA 20%, #9356DC 80%, transparent);
	
}

/*
.fa-heart {
	animation: fa-spin 1s infinite steps(8);
}

*/
/*
@keyframes fa-heart {
	0% {
		transform: translateY(0);
	  }
	  
	100% {
		transform: translateY(100%) linear-gradient(to top, #FF79DA 20%, #9356DC 80%, transparent);
	  }
}
*/


/*FOOTER*/
footer {
	background-color:#353535 ;
	color: #ffffff;
	height: auto;
	padding: 20px 20px 40px;
	margin-top: -50px;
}

/*TITRE FOOTER*/
footer h3 {
	color: #ffffff;
	font-size: 16px;
	font-weight: initial;
}

/*ICONES FOOTER*/
footer i {
	font-size: small;
	padding-right: 10px;
}

/*ESPACEMENT ENTRE LES LI*/
footer li {
	padding-top: 10px;
}

/*LIENS FOOTER*/
footer a {
	color: #ffffff;
	font-size: 15px;
}


/*LES 4 MENUS*/

/*HEADER*/

.headerImage {
	width: 100%;
}

.headerImage img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

/*FLECHE ET LOGO*/
.bandeauHeaderMenu {
	display: flex;
	align-items: baseline;
	padding-bottom: 5px;
}

.fa-arrow-left {
	font-size: 22px;
}

/*COULEUR LIEN BOUTON RETOUR*/
.lienHeaderMenu {
	color: #353535;
}

/*H1 LOGO*/
.logoHeaderMenu {
	padding-left: 70px;
	padding-right: 70px;
}

/*MAIN*/


.quatreMenus {
	background-color:#f6f6f6 ;
	padding-bottom: 15px;
	border-radius: 40px 40px 0 0;
	top: -50px;
	position: relative;
}

/*NOMS DES RESTAURANTS*/
.quatreMenus h2 {
	font-size: 27px;
	font-family: 'Shrikhand', cursive;
	padding-top: 40px;
	padding-bottom: 40px;
}

/*NOM DU RESTO ET COEUR*/
.nomRestoEtCoeur {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

/*ICONE COEUR MENUS*/
.quatreMenus .fa-heart {
	padding-right: 40px;
}

/*TITRES ENTREES PLATS DESSERTS*/
.quatreMenus h3 {
	text-transform: uppercase;
	padding-left: 20px;
	font-weight: initial;
	font-size: 17px;
	position: relative;
}

/*LIGNE VERTE SOUS ENTREES PLATS DESSERTS*/
.quatreMenus h3::after {
	content: "";
	background-color: #99E2D0;
	height: 3px;
	width: 45px;
	position: absolute;
	bottom: -5px;
	left: 20px;
}

/*LI DES ENTREES PLATS DESSERTS*/

/*NOMS DES PLATS HGROUP*/
.quatreMenus hgroup {
	width: 77%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.quatreMenus h4 {
	font-size: 18px;
	overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.quatreMenus h5 {
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: initial;
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/*PRIX DES PLATS*/
.quatreMenus p {
	/*align-self: flex-end;*/
	padding-bottom: 10px;
	width: 23%;
	text-align: right;
	padding-right: 10px;
}


/*TITRES PRIX DES PLATS ET COCHES ALIGNES ET APPARITION GRADUELLE DES PLATS*/
.quatreMenus li {
	display: flex;
	align-items: flex-end;
	cursor: pointer;
	transition: all 0.3s ease;
	overflow: hidden;
	position: relative;
	opacity: 0;
	animation: apparition 0.5s ease;
  	animation-delay: 0s;
  	animation-fill-mode: none;
	animation-fill-mode: forwards;
	padding: 10px 0px 10px 12px;
}

.quatreMenus li:nth-of-type(1) {
	animation-delay: 0.7s;
}

.quatreMenus li:nth-of-type(2) {
	animation-delay: 0.6s;
}

.quatreMenus li:nth-of-type(3) {
	animation-delay: 0.5s;
}

.quatreMenus li:nth-of-type(4) {
	animation-delay: 0.4s;
}

@keyframes apparition {
	0% {
	opacity: 0;
	transform: translateY(100%);
  }
  	100% {
	opacity: 1;
	transform: translateY(0);
  }
}


/*ICONES COCHES VERTES A DROITE*/



.quatreMenus li:active {
	padding: 16px 80px 16px 12px;
	cursor: pointer;
}

.quatreMenus li:active .boxCheck i {
	transform: rotate(360deg);
}

.quatreMenus li:active .boxCheck {
	transform: translateX(-60px);
	
}

.boxCheck i {
	color: #ffffff;
	background-color:#99E2D0;
	font-size: 22px;
	transition: all 0.5s ease;
	justify-content: center;
	align-items: center;

	/*transition: transform 280ms ease-out 50ms;*/
}

.boxCheck {
	padding: 0px 15px 0;
	font-size: 22px;
	background-color:#99E2D0;
	color: #ffffff;
	border-radius: 0 18px 18px 0;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: -100px;
	width: 70px;
	height: 100%;
	display: flex;
	justify-content: left;
	align-items: center;
	transition: all 0.3s ease;

}
/*
.quatreMenus section i {
	opacity: 0;
}*/



/*BOUTON COMMANDEZ*/
.boutonCommandez {
	margin: 60px 80px 70px;
}

.boutonCommandez a {
	color: #ffffff;
	display: flex;
	justify-content: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

 /*MEDIA QUERIES*/
 /*VERSION TABLETTE*/

@media screen and (min-width: 769px) and (max-width: 992px) {

.loader {
	border-top: 6em solid #FF79DA;
	border-right: 6em solid #9356DC ;
	border-bottom: 6em solid #99E2D0;
	border-left: 6em solid #9356DC;
	width: 26em;
	height: 26em;
	top: 10%;
	left: 15%;
}

h1 {
	font-size: 45px;
}

.formulaire input, form, h3, .boutonExplorez, .boutonCommandez, .quatreMenus h3 {
	font-size: 25px;
}

.boutonExplorez, .boutonCommandez {
	padding: 25px;
}

header h2, header h3 {
  width: 100%;
}

h2, .quatreMenus h2 {
  font-size: 30px;
}

main h2 {
	padding: 60px 20px 10px 50px;
}

.fonctionnement li {
  padding: 40px;
}

.fonctionnement li, .quatreMenus li {
	font-size: 25px;
	margin:40px;
}

.fonctionnement i {
	padding-right: 40px;
	font-size: 40px;
}

.cartesDesRestos {
	width: 80%;
}

.cartesDesRestos img {
	height: 400px;
	object-position: center;
}	

h4, .quatreMenus h4, .quatreMenus h5 {
	font-size: 25px;
}

figcaption i, .quatreMenus .fa-heart {
	font-size: 40px;
}

footer ul {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

footer li {
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
}

footer h3 {
	font-size: 30px;
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
}

footer i {
	font-size: x-large;
	padding-right: 10px;
	padding-top: 10px;
}

footer a {
	font-size: 25px;
	line-height: 2;
}

/*4 MENUS*/

.headerImage img {
	height: 350px;
}

.quatreMenus h3 {
	width: 20%;
	padding-left: 40px;
}
.quatreMenus li {
	height: 95px;
}

figcaption i {
	padding-right: 50px;
	padding-top: 20px;
  }

}

/*VERSION DESKTOP*/

@media screen and (min-width: 992px){

body {
		max-width: 1600px;

}

.loader {
	border-top: 7em solid #FF79DA;
	border-right: 7em solid #9356DC ;
	border-bottom: 7em solid #99E2D0;
	border-left: 7em solid #9356DC;
	width: 28em;
	height: 28em;
	top: 20%;
	left: 25%;
}

/*LOGO*/
h1 {
	font-size: 50px;
}

/*FORMULAIRE*/
.formulaire {
	border: 30px solid #eaeaea;
}

.formulaire input, form, .fa-map-marker-alt, h3, .boutonExplorez, .boutonCommandez, .quatreMenus h3 {
	font-size: 30px;
}

form {
	display: flex;
	width: 21%;
}
/*BOUTONS*/
.boutonExplorez, .boutonCommandez {
	padding: 25px;
}

header h2, header h3 {
  width: 100%;
}

h2, .quatreMenus h2 {
  font-size: 35px;
}

#restaurants h2 {
	text-transform: uppercase;
	font-size: 45px;
	position: relative;
}

/*LIGNE VERTE SOUS TITRE RESTAURANTS*/
#restaurants h2::after {
	content: "";
	background-color: #99E2D0;
	height: 7px;
	width: 150px;
	position: absolute;
	bottom: 20px;
	left: 700px;
}


main h2 {
	padding: 60px 20px 40px 50px;
	display: flex;
	justify-content: center;
	font-size: 40px;
}

.fonctionnement {
	display: grid;
	width: 50%;
	margin-left: 400px
}

.fonctionnement li {
	padding: 40px 40px 40px 90px;
}
.fonctionnement li:hover {
	background-color: #f2eafb;
	cursor: pointer;
}

.fonctionnement li, .quatreMenus li {
	font-size: 30px;
	margin: 20px;
}

.fonctionnement span {
	font-size: 27px;
}

.fonctionnement i {
	padding-right: 40px;
	font-size: 40px;
}

.fonctionnement i:hover {
	color: #9356DC;
}

#restaurants ul {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 50px;
}

.cartesDesRestos {
	width: 47%;
}

.cartesDesRestos img {
	height: 400px;
	object-position: center;
}	

.nouveau {
	font-size: 30px;
	padding: 10px 15px;
	top: 20px;
	right: 20px;
}

h4, .quatreMenus h4, .quatreMenus h5 {
	font-size: 25px;
}

figcaption i, .quatreMenus .fa-heart {
	font-size: 45px;
}

.fa-solid.fa-heart {
	padding-right: 60px;
	padding-top: 20px;
}

footer {
	padding: 50px;
}

footer ul {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

footer li {
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
}

footer h3 {
	font-size: 40px;
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
}

footer i {
	font-size: x-large;
	padding-right: 10px;
	padding-top: 10px;
}

footer a {
	font-size: 30px;
	line-height: 1.5;
}

/*4 MENUS*/

.fa-arrow-left {
	font-size: 40px;
}

.headerImage img {
	height: 480px;
}

.quatreMenus h2 {
	text-transform: uppercase;
}

.quatreMenus .fa-solid.fa-heart {
	padding-right: 130px;
	padding-top: 40px;
}

.quatreMenus h3 {
	width: 20%;
	padding-left: 90px;
}

.quatreMenus h3::after {
	left: 90px;
	height: 6px;
	width: 75px;
	bottom: -8px;
}


.quatreMenus ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 30px;
	padding-top: 30px;
}

.quatreMenus li {
	height: 105px;
	width: 40%;
}

.quatreMenus hgroup {
	padding-left: 10px;
}


.quatreMenus h5 {
	padding-top: 20px;
	padding-bottom: 15px;
}


.quatreMenus p {
	text-align: center;
}

figcaption i {
	padding-right: 50px;
	padding-top: 20px;
  }


}
