/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	overflow-x: hidden;
}

ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CODE COULEUR Violet #9356DC Rose #FF79DA Vert #99E2D0*/

/*POLICES*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&family=Shrikhand&display=swap');

body {
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
}	

/*LOADING SPINNER*/

.loading {
	position: fixed;
	width: 100%;
	height: 100%;
	animation-duration: 3s;
	-webkit-animation-duration: 3s;
	animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-name: loading;
    -webkit-animation-name: loading;
	transform: translateY(-1000px);
	z-index: 1;
	background:#ffffff;
	opacity: 0;
}

@keyframes loading { 
	0%{ opacity:1; transform: translateY(0px);} 
	90%{ opacity: 1;transform: translateY(0px);} 
    99%{ transform: translateY(0px);}
	100%{ opacity:0; transform: translateY(0px);}
}

.loader {
	border-top: 3em solid #FF79DA;
	border-right: 3em solid #9356DC ;
	border-bottom: 3em solid #99E2D0;
	border-left: 3em solid #9356DC;
	background-image: url(https://i.pinimg.com/474x/8d/d1/3c/8dd13c382ce5a4b6044571a0d50bc9bc.jpg );
	background-position: center;
	background-size: 300px;
	animation: spin 3s linear infinite;
	-webkit-animation: spin 3s linear infinite;
	border-radius: 50%;
	width: 13em;
	height: 13em;
	position: absolute;
	top: 27%;
	left: 9%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); transition-duration: 1s; opacity:0;}
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); transition-duration: 1s; opacity:0;}
}

/*HEADER*/

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ffffff;
}

/*LOGO*/
h1 {
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
}

/*TITRES*/
h1, footer h3 {
    color: black;
    font-family: 'Shrikhand', cursive;
}

/*CHAMP DE RECHERCHE*/
.formulaire {
	width: 100%;
	background-color: #eaeaea;
	border: 15px solid #eaeaea;
	display: flex;
	justify-content: center;
	padding-left: 60px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

form {
	background-color: #eaeaea;
}

.formulaire input {
	border: none;
	background-color: #eaeaea;
	border-color: transparent;
	color: black;
	font-size: 15px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	padding-left: 15px;
}

/*RESERVEZ ET EXPLOREZ*/
.Réservez {
	background-color: #f6f6f6;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 60px;
	width: 100%;
}

/*DIFFERENTS TITRES ET TEXTES*/
h2,h3,h4 {
    font-family: 'Roboto', sans-serif;
}

h2 {
	font-size: 24px;
	font-weight: bold;
}

h3 {
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 5px;
}

header hgroup {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

header h2 {
	width: 70%;
	padding-top: 40px;
	padding-bottom: 15px;
}

header h3 {
	width: 90%;
	padding-bottom: 30px;
	color: grey;
	font-weight: initial;
}

/*BOUTON EXPLOREZ ET BOUTON COMMANDEZ DANS MENUS*/
.boutonExplorez, .boutonCommandez {
	border-radius: 30px;
	padding: 15px;
	background: linear-gradient(-10deg, #9356DC, #FF79DA);
	opacity: 0.9;
	font-size: 16px;
	cursor: pointer;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.boutonExplorez:hover, .boutonCommandez:hover {
	opacity: 0.7;
	transition: ease 1s;
	box-shadow: 10px 10px #99E2D0;
}

/*TOUS LES LIENS NON SOULIGNES*/
a {
	text-decoration: none;
}

/*TEXTE EXPLOREZ EN BLANC*/
header a {
	color: #ffffff;
}

/*MAIN*/

/*SECTION FONCTIONNEMENT*/
/*TITRE DE LA SECTION FONCTIONNEMENT*/
main h2 {
	padding: 40px 20px 10px 20px;
}

/*LISTE FONCTIONNEMENT*/
.fonctionnement {
	padding-left: 10px;
	padding-bottom: 40px;
	position: relative;
}

/*ELEMENTS DES LISTES FONCTIONNEMENTS ET DES 4 MENUS*/
.fonctionnement li, .quatreMenus li {
	border-radius: 20px;
	background-color:  #f6f6f6;
	opacity: 0.9;
	font-size: 16px;
	font-weight: bold;
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
	margin: 20px;	
	list-style-type: none;
}

.fonctionnement li {
	padding: 25px 20px 25px 40px;
}

/*PUCES 1 2 3*/
.fonctionnement span {
	font-size: 16px;
	font-weight: lighter;
	position: absolute;
	left: 20px;
	color: #fff;
	background-color: #9356DC;
	width: 25px;
	height: 25px;
	border-radius: 100%;
	text-align: center;
	line-height: 150%;
}

/*ICONES FONCTIONNEMENT*/
.fonctionnement i {
	padding-right: 20px;
	font-size: 20px;
	opacity: 0.6;
}

/*COULEURS DES LI ET ICONES DE FONCTIONNEMENT AU SURVOL*/
.fonctionnement li:hover {
	background-color: #f2eafb;
}

.fonctionnement li:hover .fa-store, .fonctionnement li:hover .fa-list-ul, .fonctionnement li:hover .fa-mobile-screen-button {
	color: #9356DC;
	opacity: 1;
}

/*SECTION RESTAURANTS*/

#restaurants {
	background-color:#f6f6f6;
	padding-bottom: 100px;
}

/*4 CARTES DES RESTOS*/
.cartesDesRestos {
	margin: 20px auto;
	width: 90%;
	max-width: 1000px;
	min-width: 300px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	box-sizing: border-box;
	position: relative;
}

/*RECTANGLE NOUVEAU*/
.nouveau {
	position: absolute;
	top: 15px;
	right: 15px;
	background-color: #99E2D0;
	color: #008766;
	padding: 8px 12px;
	border-radius: 5px;
	font-size: 13px;
	font-weight: bold;
}

/*IMAGES DES CARTES RESTO*/
.cartesDesRestos img {
	height: 170px;
	width: 100%;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
	object-position: bottom;
}

/*POSITION IMAGE NOTE ENCHANTEE*/
img.noteEnchantee {
	object-position: center;
}

/*LEGENDES DES CARTES*/
.cartesDesRestos hgroup {
	padding: 15px;
	color: black;
}

.cartesDesRestos h4 {
	font-size: 18px;
	opacity: 0.6;
}

/*COEURS DES CARTES ACCUEIL*/

.coeurRempli {
	position: absolute;
	right: 35px;
	bottom: 25px;
}

/*COEURS ACCUEIL ET 4 MENUS*/

.coeurRempli .fa-heart {
	font-size: 25px;
}

::before, ::after {
	box-sizing: border-box;
}

.fa-heart::before {
    color: transparent;
    background-size: cover;
	background-clip: text;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    left: 0;
    background: transparent;
    transition: all 3s ease;
}

.fa-heart:active::before, .fa-heart:hover::before {
    opacity: 0;
	cursor: pointer;
}

.fa-heart::after {
    position: absolute;
    content: "\f004";
    background: transparent;
    background-size: cover;
    background-clip: text;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    left: 0;
    transition: all 3s ease;
	height: 0%;
}

.fa-heart:active::after, .fa-heart:hover::after {
    background: linear-gradient(#FF79DA, #9356DC);
    background-size: cover;
    background-clip: text;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
	cursor: pointer;
	height: 100%;
}

/*FOOTER*/
footer {
	background-color:#353535 ;
	color: #ffffff;
	height: auto;
	padding: 20px 20px 40px;
	margin-top: -50px;
}

/*TITRE FOOTER*/
footer h3 {
	color: #ffffff;
	font-weight: initial;
	padding-bottom: 10px;
}

/*ICONES FOOTER*/
footer i {
	font-size: small;
	padding-right: 10px;
}

/*ESPACEMENT ENTRE ELEMENTS DE LA LISTE DU FOOTER*/
footer li {
	padding-top: 10px;
}

/*LIENS FOOTER*/
footer a {
	color: #ffffff;
}

/*//PAGE DES 4 MENUS//*/

/*HEADER*/

/*FLECHE ET LOGO*/
.bandeauHeaderMenu {
	display: flex;
	align-items: baseline;
	padding-bottom: 5px;
}

.fa-arrow-left {
	font-size: 22px;
}

/*COULEUR LIEN FLECHE RETOUR*/
.lienHeaderMenu {
	color: #353535;
}

/*H1 LOGO*/
.logoHeaderMenu {
	padding-left: 70px;
	padding-right: 70px;
}

/*IMAGE QUI S'ADAPTE*/
.headerImage {
	width: 100%;
}
/*IMAGE QUI NE SE DEFORME PAS*/
.headerImage img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

/*MAIN*/
/*NOM DU RESTO ENTREES PLATS DESSERTS BOUTON COMMANDEZ*/
.quatreMenus {
	background-color:#f6f6f6 ;
	padding-bottom: 15px;
	border-radius: 40px 40px 0 0;
	top: -50px;
	position: relative;/*POSITIONNE LE COEUR EN ABSOLUTE*/
}

/*NOM DU RESTO ET COEUR*/
.nomRestoEtCoeur {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	position: relative;
}

/*NOMS DES RESTAURANTS*/
.quatreMenus h2 {
	font-size: 27px;
	font-family: 'Shrikhand', cursive;
	padding-top: 40px;
	padding-bottom: 40px;
}

/*POSITION COEURS DES 4 MENUS*/
.quatreMenus .coeurRempli {
	bottom: 45px;
}

/*TITRES ENTREES PLATS DESSERTS*/
.quatreMenus h3 {
	text-transform: uppercase;
	padding-left: 20px;
	font-weight: initial;
	font-size: 17px;
	position: relative;/*POSITIONNE LA LIGNE VERTE EN ABSOLUTE*/
}

/*LIGNE VERTE SOUS ENTREES PLATS DESSERTS*/
.quatreMenus h3::after {
	content: "";
	background-color: #99E2D0;
	height: 3px;
	width: 45px;
	position: absolute;
	bottom: -5px;
	left: 20px;
}

/*LI DES ENTREES PLATS DESSERTS*/

/*NOMS DES PLATS HGROUP*/
.quatreMenus hgroup {
	width: 77%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*PREMIERE LIGNE DES PLATS*/
.quatreMenus h4 {
	font-size: 18px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-top: 5px;
}

/*DEUXIEME LIGNE DES PLATS*/
.quatreMenus h5 {
	padding-top: 10px;
	padding-bottom: 5px;
	font-weight: initial;
	font-size: 15px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/*PRIX DES PLATS*/
.quatreMenus p {
	padding-bottom: 5px;
	width: 23%;
	text-align: center;
}

/*TITRES PRIX DES PLATS ET COCHES ALIGNES ET APPARITION GRADUELLE DES PLATS*/
.quatreMenus li {
	display: flex;
	align-items: flex-end;
	cursor: pointer;
	padding: 10px 0px 10px 12px;
	margin-left: 10px;
	margin-right: 10px;
	overflow: hidden;
	position: relative;/*COCHE VERTE EN POSITION ABSOLUTE*/
	opacity: 0;
	transition: all 0.3s ease;
	animation: apparition 0.5s ease;
  	animation-delay: 0s;
  	animation-fill-mode: none;
	animation-fill-mode: forwards;
}
/*APPARITION DES PLATS UN A UN*/
.quatreMenus li:nth-of-type(1) {
	animation-delay: 0.7s;
}

.quatreMenus li:nth-of-type(2) {
	animation-delay: 0.6s;
}

.quatreMenus li:nth-of-type(3) {
	animation-delay: 0.5s;
}

.quatreMenus li:nth-of-type(4) {
	animation-delay: 0.4s;
}

@keyframes apparition {
	0% {
	opacity: 0;
	transform: translateY(100%);
  }
  	100% {
	opacity: 1;
	transform: translateY(0);
  }
}


/*AU CLIC SUR LE PLAT*/
.quatreMenus li:active {
	padding: 16px 80px 16px 12px;
	cursor: pointer;
}

/*AU CLIC BOUTON VERT A DROITE APPARAIT*/
.quatreMenus li:active .boxCheck {
	transform: translateX(-70px);	
}

/*BOUTON VERT AVEC ICONE CHECK*/
.boxCheck {
	padding: 0px;
	font-size: 22px;
	background-color:#99E2D0;
	color: #ffffff;
	border-radius: 0 18px 18px 0;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: -70px;
	width: 70px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease;
}

/*ICONE BLANCHE ET VERTE*/
.boxCheck i {
	color: #ffffff;
	background-color:#99E2D0;
	font-size: 22px;
	transition: all 0.5s ease;
}

/*AU CLIC ICONE TOURNE*/
.quatreMenus li:active .boxCheck i {
	transform: rotate(360deg);
}

/*BOUTON COMMANDEZ*/
.boutonCommandez {
	margin: 50px 90px 50px;
}

.boutonCommandez a {
	color: #ffffff;
	display: flex;
	justify-content: center;
	font-size: 16px;
}


 /*MEDIA QUERIES*/
 /*VERSION TABLETTE*/

@media screen and (min-width: 769px) and (max-width: 992px) 
{

/*LOADING SPINNER*/	
.loader {
	border-top: 6em solid #FF79DA;
	border-right: 6em solid #9356DC ;
	border-bottom: 6em solid #99E2D0;
	border-left: 6em solid #9356DC;
	width: 26em;
	height: 26em;
	top: 5%;
	left: 10%;
	background-size: 500px;
}

/*FLECHE*/
.fa-arrow-left {
	font-size: 30px;
}

/*LOGO OHMYFOOD*/
h1 {
	font-size: 35px;
}
/*FORMULAIRE DE RECHERCHE*/
.formulaire {
	padding-left: 110px;
}

.Réservez, header h3 {
	padding-bottom: 20px;
}

/*RESERVEZ LE MENU*/
header h2 {
	padding-top: 20px;
}

header h2, header h3 {
  width: 100%;
}

.formulaire input, form, h3, .boutonExplorez, .boutonCommandez, .quatreMenus h3 {
	font-size: 20px;
}

/*LES BOUTONS*/
.boutonExplorez, .boutonCommandez {
	padding: 17px;
}

.boutonCommandez {
	margin: 60px 160px 50px;
}

/*TITRES FONCTIONNEMENT -RESTAURANTS- NOMS DES RESTOS*/
h2, .quatreMenus h2 {
  font-size: 27px;
}

main h2 {
	padding: 10px 20px 0px 50px;
	font-family: 'Shrikhand', cursive;
}

.fonctionnement {
	padding-bottom: 0;
}

/*ELEMENTS DES LISTES FONCTIONNEMENT ET PLATS*/
.fonctionnement li {
  padding: 20px 10px 20px 70px;
}

.fonctionnement li, .quatreMenus li {
	font-size: 22px;
	margin: 15px 40px;
}

/*1 2 ET 3 DU FONCTIONNEMENT*/
.fonctionnement span {
	font-size: 25px;
	left: 30px;
	width: 40px;
	height: 40px;
}

/*ICONES DU FONCTIONNEMENT*/
.fonctionnement i {
	padding-right: 40px;
	font-size: 40px;
}

/*RESTAURANTS*/
#restaurants {
	padding-bottom: 70px;
}

/*CARTES DES RESTOS*/
#restaurants ul {
	display: flex;
	flex-wrap: wrap;
}

.cartesDesRestos {
	width: 45%;
}

.cartesDesRestos img {
	height: 200px;
	object-position: center;
}	

h4, .quatreMenus h4, .quatreMenus h5 {
	font-size: 23px;
}

/*TAILLE COEUR ACCUEIL*/
.coeurRempli .fa-heart {
	font-size: 30px;
}

/*FOOTER*/
/*TITRE LOGO*/
footer h3 {
	font-size: 30px;
	display: flex;
	justify-content: center;
}

footer ul {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

footer li {
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
}

footer i {
	font-size: x-large;
	padding-right: 10px;
	padding-top: 10px;
}

footer a {
	font-size: 25px;
	line-height: 2;
}

/*4 MENUS*/

.headerImage img {
	height: 150px;
}

/*ICONE COEUR*/
.quatreMenus .coeurRempli {
	right: 60px;
	bottom: 35px;
}

/*TITRES ENTREES PLATS DESSERTS*/
.quatreMenus h3 {
	width: 20%;
	padding-left: 40px;
}

/*LLIGNE VERTE SOUS TITRES*/
.quatreMenus h3::after {
	height: 5px;
	width: 60px;
	left: 40px;
}

/*PLATS*/
.quatreMenus li {
	height: 75px;
	margin: 35px;
}

/*AU CLIC SUR LES PLATS TRANSLATION DU BOUTON VERT*/
.quatreMenus li:active {
	padding: 16px 80px 16px 12px;
}

.quatreMenus li:active .boxCheck {
	transform: translateX(-110px);
}

.boxCheck {
	right: -110px;
	width: 110px;
}

/*ICONE DU BOUTON VERT*/
.boxCheck i {
	font-size: 30px;
}

/*BOUTON COMMANDEZ*/
.boutonCommandez a {
	font-size: 23px;
}

}

/*VERSION DESKTOP*/

@media screen and (min-width: 992px)
{
	
body {
	max-width: 1600px;

}

/*LOADING SPINNER*/
.loader {
	border-top: 6em solid #FF79DA;
	border-right: 6em solid #9356DC ;
	border-bottom: 6em solid #99E2D0;
	border-left: 6em solid #9356DC;
	width: 28em;
	height: 28em;
	top: 10%;
	left: 30%;
	background-size: 600px;
}

/*HEADER*/
/*LOGO*/
h1 {
	font-size: 40px;
}

/*FORMULAIRE*/
.formulaire {
	border: 10px solid #eaeaea;
	padding-left: 100px;
}

form {
	display: flex;
	width: 21%;
}

.formulaire input, form, .fa-map-marker-alt, h3, .boutonExplorez, .boutonCommandez, .quatreMenus h3 {
	font-size: 25px;
}

/*RESERVEZ LE MENU*/
.Réservez {
	padding-bottom: 25px;
}

header h2 {
	padding-top: 20px;
}

header h2, header h3 {
  	width: 100%;
}

header h3 {
	padding-bottom: 20px;
}

h2, .quatreMenus h2 {
  font-size: 30px;
}

/*BOUTONS*/
.boutonExplorez, .boutonCommandez {
	padding: 18px;
}

.boutonCommandez {
	margin: 20px 480px 30px;
}

/*MAIN*/

/*TITRES FONCTIONNEMENT ET RESTAURANTS*/
main h2 {
	padding: 10px;
	display: flex;
	justify-content: center;
	font-size: 27px;
	position: relative;
	font-family:'Shrikhand', cursive;
}

/*LIGNE VERTE SOUS LES TITRES*/
main h2::after {
	content: "";
	background-color: #99E2D0;
	height: 7px;
	width: 100px;
	position: absolute;
	bottom: 0px;
	left: 700px;
}

/*FONCTIONNEMENT*/
.fonctionnement {
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 10px;
}

.fonctionnement li {
	padding: 20px 20px 20px 0px;
	margin-left: 0;
}

.fonctionnement li, .quatreMenus li {
	font-size: 25px;
}

.quatreMenus li {
	margin: 10px;
}

/*1 2 3 FONCTIONNEMENT*/
.fonctionnement span {
	font-size: 25px;
	display: inline-block;
	line-height: initial;
	width: 35px;
	height: 35px;
	margin-right: 20px;
	margin-left: -20px;
	position: inherit;
}

/*ICONES DE FONCTIONNEMENT*/
.fonctionnement i {
	padding-right: 10px;
	font-size: 30px;
}

/*RESTAURANTS*/
#restaurants {
	padding-bottom: 70px;
}

#restaurants h2 {
	text-transform: uppercase;
}

/*CARTES DES RESTOS EN LIGNE*/
#restaurants ul {
	display: flex;
}

.cartesDesRestos {
	width: 23%;
}

.cartesDesRestos img {
	height: 200px;
	object-position: center;
}	

/*RECTANGLE VERT NOUVEAU*/
.nouveau {
	font-size: 20px;
	padding: 5px 10px;
	top: 20px;
	right: 20px;
}

/*LEGENDES LIEUX DES RESTOS*/
.cartesDesRestos h4, .quatreMenus h4, .quatreMenus h5 {
	font-size: 22px;
}

/*ICONE COEUR*/
.coeurRempli .fa-heart {
	font-size: 35px;
}

/*ICONE COEUR DES 4 MENUS*/
.quatreMenus .coeurRempli {
	left: 380px;
}

/*FOOTER*/

footer {
	padding: 20px;
}

/*TITRE LOGO*/
footer h3 {
	font-size: 35px;
	display: flex;
	justify-content: center;
}

footer ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

footer li {
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
}

/*ICONES DU FOOTER*/
footer i {
	font-size: x-large;
	padding-top: 10px;
}

footer a {
	font-size: 22px;
	line-height: 2.5;
}

/*4 MENUS*/

/*HEADER*/
/*FLECHE*/
.fa-arrow-left {
	font-size: 35px;
}

.headerImage img {
	height: 230px;
}

/*MAIN*/
.quatreMenus {
	padding-bottom: 0;
}

/*TITRE NOM DU RESTO*/
.quatreMenus h2 {
	padding-left: 50px;
}

/*LIGNE VERTE SOUS NOM*/
.quatreMenus h2::after {
	bottom: 20px;
	left: 50px;
}

/*ENTREES PLATS DESSERTS*/
.quatreMenus h3 {
	width: 20%;
	padding-left: 90px;
}

/*LIGNE VERTE SOUS ENTREES PLATS DESSERTS*/
.quatreMenus h3::after {
	left: 90px;
	height: 6px;
	width: 75px;
	bottom: -8px;
}

/*PLATS*/
.quatreMenus ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.quatreMenus li {
	height: 75px;
	width: 35%;
}

.quatreMenus hgroup {
	padding-left: 10px;
}

.quatreMenus h5 {
	padding-top: 10px;
}

/*TRANSLATION DU BOUTON VERT AU CLIC*/
.quatreMenus li:active .boxCheck {
	transform: translateX(-110px);
	
}

/*BOUTON VERT*/
.boxCheck {
	right: -110px;
	width: 110px;
}

/*ICONE DU BOUTON VERT*/
.boxCheck i {
	font-size: 35px;
}

/*PRIX DES PLATS*/
.quatreMenus p {
	font-size: 22px;
}

/*BOUTON COMMANDEZ*/
.boutonCommandez a {
	font-size: 25px;
}

}